

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.card {
  width: 25rem;
}

.card > img {
  height: 18rem;
  object-fit:cover;
}

.App {
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  font-size: calc(1px + 2vmin);
  color: white;
}



